extends ../core/template.pug

block headExtra
	title=global.essentials.formatTitle(['Admin', 'Create Blog'])
	link(rel='stylesheet', type='text/css', href='/assets/css/compiled/blog.css')
	style.
		#preview {
			border: 1px solid black;
		}
	script.
		$(document).ready(function () {
			$('#content').on('input', function () {
				$('#preview').html($('#content').val())
			})
		})


block content
	h2 Admin Create Blog
	form(method='POST', action='/admin/create_blog').styledForm
		input(type='text', name='title', placeholder='Title')
		br
		textarea(name='content', placeholder='Content')#content
		br
		input(type='text', name='tags', placeholder='Tags')
		br
		input(type='submit', value='Create').btn.btnRed.btnRaised
	hr
	h3 Preview
	div#preview
