extends ../core/template.pug

block headExtra
	title=global.essentials.formatTitle(['Admin', 'Edit Blog'])
	link(rel='stylesheet', type='text/css', href='/assets/css/compiled/blog.css')
	style.
		#preview {
			border: 1px solid black;
		}
	script.
		$(document).ready(function () {
			$('#content').on('input', function () {
				$('#preview').html($('#content').val())
			})
		})
		

block content
	h2 Admin Edit Blog
	form(method='POST').styledForm
		input(type='text', name='title', value=(blog.title), placeholder='Title')
		br
		textarea(name='content', placeholder='Content')#content=blog.content
		br
		input(type='text', name='tags', value=(blog.tags), placeholder='Tags')
		br
		input(type='submit', value='Edit').btn.btnRed.btnRaised
	hr
	h3 Preview
	div#preview
