extends ../core/template.pug

block headExtra
	title=global.essentials.formatTitle(['Admin', 'Login'])

block content
	h2 Admin Login
	if fail
		p(style='color: red') Incorrect password
	form(method='POST', action='/admin/login').styledForm
		input(type='password', name='password', placeholder='Password')
		br
		input(type='submit', value='Login').btn.btnRed.btnRaised
