extends ../core/template.pug

block headExtra
  title=global.essentials.formatTitle(['Admin', 'Upload Image'])

block content
  h2 Admin Upload Image
  form(method='POST', enctype='multipart/form-data').styledForm
    input(type='text', name='file_name', placeholder='File name')
    br
    input(type='file', name='image')
    input(type='submit')
  hr
  h3 Current Files
  ul
    each file in files
      li
        a(href=('/assets/blog/img/' + file))=file
