* {
  font-family: arial;
}
body {
  margin: 0px;
  padding: 0px;
  overflow-x: auto;
}
#gamecanvas {
  border: 1px solid black;
  background-color: rgb(240, 240, 240);
}
#input-div {
  display: block;
  position: absolute;
  left: 431px;
  top: 700px;
}
#input-div #intro-div {
	display: block;
  position: absolute;
}
#input-div #server-div {
	display: block;
  position: absolute;
}
#input-div #intro-div input[type=text] {
  display: inherit;
  position: absolute;
  width: 350px;
  height: 50px;
  left: 50%;
  margin-left: -175px;
  margin-top: -350px;
  text-align: center;
  font-size: 40px;
  border: 1px solid black;
}
#input-div input[type=button] {
  display: inherit;
  position: absolute;
  width: 200px;
  height: 60px;
  left: 50%;
  margin-left: -100px;
  text-align: center;
  font-size: 40px;
  border: 2px solid black;
  background: green;
  background: linear-gradient(to bottom right,lightgreen,darkgreen);
}
#input-div #intro-div #button1 {
  margin-top: -275px;
}
#input-div #intro-div #button2 {
  margin-top: -200px;
}
#input-div input[type=button]:hover {
  border-color: gold;
}
#input-div #intro-div h1 {
  display: inherit;
  position: absolute;
  width: 600px;
  height: 100px;
  left: 50%;
  margin-left: -300px;
  margin-top: -475px;
  text-align: center;
  font-size: 40px;
}
#input-div #server-div h1 {
	margin-top: -600px;
	text-align: left;
	margin-left: -375px;
}
#input-div #server-div #server-list-div {
	display: block;
	margin-left: -375px;
	border: 2px solid blue;
	width: 750px;
	height: 400px;
}
#input-div #server-div #server-list-div #server-list {
	width: 100%;
}
#input-div #server-div #server-list-div #server-list, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}
#input-div #server-div #server-list-div #server-list th, td {
	padding: 10px 20px;
	text-align: left;
}
#input-div #server-div #server-list-div #server-list .selected {
	background-color: lightgrey;
}
#input-div #server-div #button3 {
  margin-left: -400px;
	margin-top: 20px;
}
#input-div #server-div #button4 {
  margin-left: -140px;
	margin-top: 20px;
}
#chat-div {
  display: inline-block;
  width:250px;
  height:600px;
  border: 1px solid black;
}
#chat-area {
  background-color: white;
  margin: 0px;
  padding: 0px;
  display: block;
  width: 100%;
  height: 95%;
  overflow-y: auto;
  border-bottom: 1px solid black;
}
#chat-ul {
  background-color: white;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
#chat-ul li {
  padding: 6px 5px;
  font-size: 15px;
}
#chat-ul li:nth-child(odd) {
  background-color: #f1eaea;
}
#chat-form {
  background-color: white;
  margin: 0px;
  padding: 0px;
  display: block;
  width: 100%;
  height: 5%;
  overflow-y: auto;
}
#chat-form * {
  position: absolute;
}
#chatInput {
  margin-left: -122px;
  margin-top: 2px;
  border: 1px solid black;
  width: 165px;
  color: black;
  background-color: #ebebeb;
  font-size: 18px;
}
#chatButton {
  margin-left: 48px;
  margin-top: 2px;
  border: 1px solid black;
  width: 75px;
  color: black;
  font-size: 18px;
}
#chatButton:hover {
  background-color: skyblue;
}
