extends ../core/template.pug

block headExtra
	title=global.essentials.formatTitle('Home')

block content
	h2 Ryan "Weastie" Weast
	p Competitive hacker for Sice Squad and Galhacktic Trendsetters. PSU Comp Sci '23
	hr
	p This website is currently under major redesign with much more content planned.
	p For now, feel free to utilize the three hack tools I have designed, which I personally
		|  use all the time during CTF competitions.
	a(href='https://gitlab.com/weastie')
		img(src='/assets/img/gitlab-logo-gray-stacked-rgb.png', width='48px')
	a(href='https://www.youtube.com/channel/UCsA9BVmiT0sG4d6cwBzpM6Q')
		img(src='/assets/img/youtube_social_icon_red.png', width='48px')
