extends ../core/template.pug

block headExtra
	title=global.essentials.formatTitle(['Blog', blog.title])
	link(rel='stylesheet', type='text/css', href='/assets/css/compiled/blog.css')

block content
	if session.admin
		form(method='GET', action=('/admin/delete_blog/' + blog._id))
			input(type='submit', value='Delete').btn.btnRaised.btnRed
		a(href=('/admin/edit_blog/' + blog._id))
			input(type='button', value='Edit').btn.btnRaised.btnBlue
	h1!=blog.title
	- tags = blog.tags ? blog.tags.split(',') : []
	each tag in tags
		a(href=('/blogs/' + tag), class=('tag ' + 'tag-' + tag)).btnRaised=tag
	p.dateGrey.formatDate!=blog.date
	hr
	div!=blog.content
