extends ../core/template.pug

block headExtra
  title=global.essentials.formatTitle(['Hack Tools', 'Listener'])

block content
  h1 HTML Uploader
  p
    | Use this page to upload a basic HTML page.
    | May be useful for a CSRF attack.
    | The page will last up to 48 hours.
  form(action='/hack_tools/create_html', method='POST').styledForm
    textarea(name='content')
    br
    input(type='submit', value='Create the page').btn.btnRed.btnRaised
