extends ../core/template.pug

block headExtra
	title=global.essentials.formatTitle('Brashbrawl')
	script(src='https://cdn.socket.io/socket.io-1.4.5.js')
	script(src='/assets/brashbrawl/game.js')
	link(rel='stylesheet', type='text/css', href='/assets/brashbrawl/style.css')

block content
	h1(style='text-align: center') Brash Brawl!
	#input-div
		#intro-div
			h1 Welcome to Brash Brawl!
			input#nameInput(type='text', placeholder='Enter a name', maxlength='18')
			input#button1(type='button', onclick='showServers()', value='Play!', draggable='false')
			input#button2(type='button', onclick='showControls()', value='Controls', draggable='false')
		#server-div(style='display: none')
			h1 Servers
			#server-list-div
				table#server-list
					colgroup
						col(span='1', style='width: 60%;')
						col(span='1', style='width: 15%;')
						col(span='1', style='width: 25%;')
					tr
						th Title
						th Players
						th IP
					tr#server-list-input-point
			input#button3(type='button', onclick='refreshServ()', value='Refresh', draggable='false')
			input#button4(type='button', onclick='enterGame()', value='Connect', draggable='false')
	div(align='center')
		canvas#gamecanvas(width='800', height='600', style='display: inline-block', tabindex='0', oncontextmenu='return false;')
		#chat-div(tabindex='1')
			#chat-area
				#chat-ul
			#chat-form
				input#chatInput(type='text', placeholder='Enter a message')
				input#chatButton(type='button', onclick='sendChat()', value='Send', draggable='false')
