extends template.pug

block headExtra
  title Alan Turing | Bibliography

block content
  h1 Bibliography
  ul
    li
      a(href='https://www.theverge.com/2019/7/15/20694453/uk-50-banknote-alan-turing-announcement-scientist-computer') https://www.theverge.com/2019/7/15/20694453/uk-50-banknote-alan-turing-announcement-scientist-computer
    li  
      a(href='https://www.turing.org.uk/') https://www.turing.org.uk/
    li
      a(href='https://www.iwm.org.uk/history/how-alan-turing-cracked-the-enigma-code') https://www.iwm.org.uk/history/how-alan-turing-cracked-the-enigma-code
    li
      a(href='https://www.newscientist.com/people/alan-turing/') https://www.newscientist.com/people/alan-turing/

	
		
