extends template.pug

block headExtra
	title Alan Turing
	style.
		.leftDiv {
			padding: 0px;
			position: absolute;
			left: 15%;
			width: 35%;
			display: inline-block;
			text-align: center;
		}
		.rightDiv {
			padding: 0px;
			position: absolute;
			right: 17%;
			width: 33%;
			display: inline-block;
		}

block content
	div.leftDiv
		h1 Alan Turing
		img(src='/assets/img/alant/alan.jpg')
	div.rightDiv
		h3 Who is Alan Turing?
		p.
			&emsp;Alan Turing was born in London in 1912. He is widely known as the
			"Father of Computer Science" for his esteemed work in the field of theoretical
			computer science. He invented the first model of modern computers, which were
			known at the time as "Turing machines".
		p.
			&emsp;Along with theoretical computer science, Turing extensively studied in the fields
			of mathematics, biology, philosophy, and cryptanalysis. He combined the fields of
			biology, philosophy, and computer science in a unique way: he theorized the idea
			that it may potentially be impossible to truly tell apart a human's brain, and a
			computer's "brain". He discussed the idea of a "Turing test", or a test to determine
			whether an entity was a computer or a human. A modern day example of a Turing test is
			familiar to all of us: the CAPTCHA, which actually stands for "Completely Automated Public
			Turing test to tell Computers and Humans Apart". With this knowledge, Turing laid out
			many principles that guide modern day machine learning.
		p &emsp;While Turing is well-known for his contributions to the fields listed above,&nbsp;
			| perhaps a significantly more important aspect of his life were his impacts on&nbsp;
			a(href='/alan_turing/ww2') World War II.
