doctype html

html
	head
		meta(name='viewport',content='width=device-width,initial-scale=1')
		meta(charset='UTF-8')
		meta(name='author', content='Weastie')
		link(rel="icon",href="/assets/img/favicon.ico",type="image/x-icon")
		script(src='/assets/script/core/jquery-3.2.1.min.js')
		link(rel='stylesheet',href='/assets/css/compiled/main.css')
		link(rel='stylesheet',href='/assets/css/compiled/alant.css')
		script(src='/assets/script/core/body.js')
		block headExtra
	body
		//- Drawer is hidden by default. Otherwise it shows up for a few milliseconds
		div#mainDrawer.drawer.hidden
			ul
				li
					a(href='/alan_turing/ww2') World War II
				li
					a(href='/alan_turing/tragedy') The Tragedy
				li
					a(href='/alan_turing/today') Turing in Modern Day
				li
					a(href='/alan_turing/bib') Bibliography
		div#body
			div#mainNavBar.navBar
				div.container
					div
						ul
							li
								a(href='#',data-for='mainDrawer').drawerBtn
									span.drawerBtnBar
									span.drawerBtnBar
									span.drawerBtnBar
							li
								a(href='/alan_turing')
									span Alan Turing
					div.bigOnly
						ul
							li
								a(href='/alan_turing/ww2') World War II
							li
								a(href='/alan_turing/tragedy') The Tragedy
							li
								a(href='/alan_turing/today') Turing in Modern Day
							li
								a(href='/alan_turing/bib') Bibliography

			div.container.contentBody
				span(data-alerts=(JSON.stringify(alerts)))#serverAlerts.hidden
				div#alertsDiv
				block content
