extends template.pug

block headExtra
	title Alan Turing | In Modern Day

block content
	h1 Alan Turing In Modern Day
	p.
		In modern day, Alan Turing receives much more appreciation. Listed below
		are some homages made to him:
	ul
		li.
			In 2009, the prime minister of the UK issued an official apology for the
			inhumane treatment of Alan Turing.
		li.
			In 2013, Alan Turing was granted a posthumous royal pardon under the Royal Prerogative of Mercy by the Queen.
		li.
			In 2014, the movie "Immitation Game" was released, telling the story of Alan Turing
			throughout WW2. The movie is incredibly historically inaccurate, but still makes
			Turing known to a wider audience.
		li.
			In 2019, it was announced that Alan Turing would become the face of £50 note by 2021.
	img(src='/assets/img/alant/fifty-not.jpg')
