extends template.pug

block headExtra
	title Alan Turing | Tragedy

block content
	h1 The Tragedy of Alan Turing
	p.
		&emsp;Despite Alan Turing's monumental achievements, he did not receive the praise
		he deserved. In fact, Turing was rewarded with conviction. He was caught
		having a homosexual affair with another man, to which he pleaded guilty in court
		to "gross indecency". To avoid imprisonment, Turing agreed to a probation under
		which he was administered a drug (a synthetic oestregen) in order to decrease
		his libido.
	p.
		&emsp;Within two years, Alan Turing was found dead due to cyanide poisoning with a
		half-eaten apple by his side. It was initially debated whether or not it was
		a suicide. Alan Turing's biographers believed that it was a suicide, and noted
		that Turing likely recreated a scene from his favorite fairy tail, "Snow White and the Seven Dwarves".
		
