extends template.pug

block headExtra
	title Alan Turing | WW2
	style.
		h3 {
			margin-top: 30px;
		}

block content
	h1 World War II
	p.
		&emsp;Alan Turing had, at the time, a unique role in World War II. Instead of
		commanding or being on the battle field, he was set aside in a little hut with
		three other colleagues with one main goal: break the German encryption device known
		as the enigma.
	h3 The Enigma
	img(src='/assets/img/alant/enigma.jpg', height='300px', width='auto')
	br
	span.dateGrey Museo della Scienza e della Tecnologia &quot;Leonardo da Vinci&quot; [CC BY-SA 4.0 (https://creativecommons.org/licenses/by-sa/4.0)]
	p.
		&emsp;In order to communicate long distances, for example to their U-Boats,
		the Germans sent Short Signal Code (similar to Morse) over radio waves. However, 
		these radio waves could easily be intercepted by anyone, so rather than sending
		the plain text of what they wanted to communicate, they sent an encrypted code (known as ciphertext).
		This ciphertext could be typed into the Enigma machine, and if it had the
		proper settings, would output the corresponding text. What made the Enigma so
		difficult to "crack", is the sheer amount of possible options available to it.
		The Enigma was improved multiple times, but at its best, it had a possible
		159 quintillion (1.59 x 10^20) different settings. So, even if the Allies intercepted
		a message, and had confiscated an Enigma device, they would still need to try
		an unfeasable amount of options in order to fully read the German communications.
		
	h3 Bletchley Park
	img(src='/assets/img/alant/bletchley.jpg', height='300px', width='auto')
	br
	span.dateGrey DeFacto [CC BY-SA 4.0 (https://creativecommons.org/licenses/by-sa/4.0)]
	p.
		&emsp;Bletchley Park, located in Buckinghamshire, UK, was the home of Alan Turing
		and the other code breakers throughout the war. The code breakers specifically
		were stationed in Hut 8.
	h3 The Bombe
	img(src='/assets/img/alant/bombe.jpg', height='300px', width='auto')
	p.
		&emsp;The Bombe was an electromechanical device modelled after the previously
		designed Polish device known as "Bomba". The general idea of both devices was
		an intelligent "brute force" algorithm, that essentially tried countless different Enigma options
		until it produced something that looked like regular text. At the time, computers
		were not fully developed, so the device had to be fully made through hardware.
		The Polish "Bomba" device successfully cracked Enigma messages for six years, up
		until 1939 where the German's vastly increased the complexity of the Enigma, meaning
		that the brute force algorithm would not be able to finish in a reasonable amount of time.
		In 1940, the Polish Cipher Bureau shared their information about the Enigma with the
		British, which led to Turing theorizing a better model that could adjust to
		the improvements made by the Germans.
	p.
		&emsp;A bunch of optimizations were made to quickly eliminate incorrect
		settings. For example, the enigma could never encrypt a character back to
		itself. Turing and the code breakers used this to assist in creating
		what was known as a "crib", which was essentially an intelligent guess
		about what the messages might be about. Essentially, every effort was made
		by the code breakers to rule out as many improbable settings as possible,
		otherwise the machine would never finish in time.
	p.
		&emsp;At a point, the codebreakers grew frustrated with their lack of
		resources. They had made major impovements with the Bombe machine, and were
		cracking many communications, but not enough. They wrote a letter to Winston
		Churchill discussing their trouble, to which Churchill responded with a memo:
		"ACTION THIS DAY. Make sure they have all they want on extreme priority and
		report to me that this has been done. From then onwards, the codebreakers
		were given all necessary resources.
	p.
		&emsp;Near the end of the War, the British had built around 200 Bombe devices,
		and were cracking German communications regularly.
	h3 Conclusion
	p.
		&emsp;Historians estimate that the work done by the British code breakers shortened
		the war by approximately 2 to 4 years, saving between 14 and 28 million lives.
		This work can not be solely credited to Alan Turing, as he had great assistance
		from his three colleagues, yet it is widely noted that Turing led the operation
		and developed the majority of the optimizations.
