doctype html

html
	head
		meta(name='viewport',content='width=device-width,initial-scale=1')
		meta(charset='UTF-8')
		meta(name='author', content='Weastie')
		link(rel="icon",href="/assets/img/favicon.ico",type="image/x-icon")
		script(src='/assets/script/core/jquery-3.2.1.min.js')
		link(rel='stylesheet',href='/assets/css/compiled/main.css')
		script(src='/assets/script/core/body.js')
		block headExtra
	body
		//- Drawer is hidden by default. Otherwise it shows up for a few milliseconds
		div#mainDrawer.drawer.hidden
			ul
				li
					a(href='/hack_tools') Hack Tools
				li
					a(href='/blogs') Blog
				li
					a(href='/music_tools') Music Tools
		div#body
			div#mainNavBar.navBar
				div.container
					div
						ul
							li
								a(href='#',data-for='mainDrawer').drawerBtn
									span.drawerBtnBar
									span.drawerBtnBar
									span.drawerBtnBar
							li
								a(href='/')
									span Home
					div.bigOnly
						ul
							li
								a(href='/blogs') Blog
							li
								a(href='/hack_tools') Hack Tools
							li
								a(href='/music_tools') Music Tools
										
			div.container.contentBody
				span(data-alerts=(JSON.stringify(alerts)))#serverAlerts.hidden
				div#alertsDiv
				block content
